<div class="general-container" data-controller="donation-sessions" id='non_profits'>
  <div class="avatar-grid">
    <div>
      <h1>Hi <span class="pink"> <%= current_user.first_name.capitalize %></span></h1>
      <h2>It’s your turn  ! </h2>
    </div>
    <div class="avatar">
     <%= cl_image_tag current_user.avatar.key, class: "show-avatar"%>
    </div>
  </div>

  <div class= remaining-budget>
    <p class= "secondary_information"> Your annual target:</p>
    <h2 class= "secondary_information"><%= current_user.donation_budget %> €</h2>
  </div>

  <div class= actual-donation>
    <p>Your current donation :</p>
    <h2 data-donation-sessions-target="total"> 0 €</h2>
  </div>

  <%= simple_form_for :donation_sessions, url: donation_session_path(@donation_session), method: :patch  do |f| %>
    <%@donations.each do |donation|%>

      <div class="list-asso">
        <div class="donation-grid">
          <%= image_tag url_for(donation.nonprofit.photo) %>
          <p> <%= donation.nonprofit.name %> </p>
          <div class="donation-case">
            <%= f.input :amount,
                        input_html: { data: {action: "change->donation-sessions#count", "donation-sessions-target".to_sym => "selector"}, name: "amount-by-nonprofit-id[#{donation.nonprofit.id}]", type: :number, placeholder: "8" } %>
          </div>
        </div>
      </div>
    <%end %>

      <%= f.button :submit, "Validate", class: "btn btn-1 mt-5" %>


  <% end %>

</div>
