<div id="registration" class="divsize registration">
  <h1 class=“text-center”><span class="pink" data-name-target="firstName"></span> you are almost done!</h1>

  <div class="form-inputs">
    <%= f.input :email,
                legend_tag: false,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email", class: "input-name" }%>
    <%= f.input :avatar, as: :file, label: "Image of current user" %>
    <%= f.input :password,
                legend_tag: false,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password", class: "input-name" } %>
    <%= f.input :password_confirmation,
                legend_tag: false,
                required: true,
                input_html: { autocomplete: "new-password", class: "input-name" } %>
  </div>

  <div class="registration-btn-wrapper d-flex justify-content-center w-100">
    <%= f.submit 'Register', :class => 'btn-1' %> <!-- Redirect to or Link to ? go to => INDEX -->
  </div>
</div>
