<div id="registration" class="divsize registration">
  <div>
    <h1 class=“text-center”><span class="pink" data-name-target="firstName"></span> you are almost done!</h1>
  </div>
  <div class="content position"></div>
    <div class="form-inputs">
      <div class="email">
        <p><i class="far fa-envelope"></i> What's your email?</p>
          <%= f.input :email,
                      label: false,
                      required: true,
                      autofocus: true,
                      placeholder: "john.doe@gmail.com",
                      input_html: { autocomplete: "email", class: "input-name pl-4" }%>
      </div>
      <div class="picture">
        <p><i class="fas fa-camera"></i> Choose your best picture:</p>
        <label for="user_avatar">
          <span class="btn btn-secondary">Choose an avatar</span>
        </label>
        <%= f.input :avatar, as: :file, label: false, input_html: { hidden: true } %>
      </div>
      <div class="pswd">
          <p><i class="fas fa-key"></i> Choose a password:</p>
          <%= f.input :password,
                    label: false,
                    required: true,
                    placeholder: "********",
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password", class: "input-name pl-4" } %>
      </div>
      <div class="confirmation">
          <p><i class="fas fa-lock"></i> Password confirmation:</p>
          <%= f.input :password_confirmation,
                      label: false,
                      placeholder: "********",
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password", class: "input-name pl-4" } %>
      </div>
    </div>
    <div class="footer-position">
      <%= f.submit "Register", :class => "btn btn-1-regist" %>
    </div>
  </div>
</div>
