<div class="container">
  <%= simple_form_for :user, url: onboarding_path do |f| %>
    <div class=“form-inputs” data-controller="name">
      <%= render "name", user: @user, f: f %>
      <%= render "category", user: @user, f: f %>
      <%= render "subcategory", user: @user, f: f %>
      <%= render "info", user: @user, f: f  %>
      <%= render "budget", user: @user, f: f %>
      <%= render "registration", user: @user, f: f %>
    </div>
  <% end %>
    <!-- chargement -->
</div>
