<div class="general-container" data-controller="donation-sessions" id='non_profits'>
  <div class="avatar-grid">
    <div>
      <h1>Hi <span class="pink"> <%= current_user.first_name.capitalize %></span></h1>
      <h2>It’s your turn  ! </h2>
    </div>
    <div class="avatar">
     <%= cl_image_tag current_user.avatar.key, class: "show-avatar"%>
    </div>
  </div>

  <div class= remaining-budget>
    <p class= "secondary_information"> Your current anual budget :</p>
    <h2 class= "secondary_information"><%= current_user.donation_budget %> €</h2>
  </div>

  <div class= actual-donation>
    <p>Your current donation :</p>
    <h2 data-donation-sessions-target="total"> <%= @donation_session.total_amount %> €</h2>
  </div>

  <%= simple_form_for :donation_sessions, url: donation_session_path(@donation_session), method: :patch  do |f| %>
    <%@donation_session.donations.each do |donation|%>
      <div class="list-asso">
        <div class="donation-grid">
          <%= image_tag url_for(donation.nonprofit.photo) %>
          <p> <%= donation.nonprofit.name %> </p>
          <div class="donation-case">
            <%= f.input :amount,
                        disabled: true,
                        input_html: { value: "#{donation.amount} €" }, type: :text %>
          </div>
        </div>
      </div>
    <%end %>
  <% end %>
  <button id="pay" type="button" class="mt-4 btn-block w-100 btn btn-secondary mt-5">Give <%= @donation_session.total_amount %>€</button>
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const paymentButton = document.getElementById('pay');
    paymentButton.addEventListener('click', () => {
      const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
      stripe.redirectToCheckout({
        sessionId: '<%= @donation_session.stripe_checkout_session_id %>'
      });
    });
  </script>
</div>
