<div class="general-container">
  <div class="avatar-grid">
    <div>
      <h1>Hi <span class="pink"> <%= current_user.first_name.capitalize %> </span></h1>
      <h2>Welcome home</h2>
    </div>
    <div class="avatar">
     <%= cl_image_tag current_user.avatar.key, class: "show-avatar"%>
    </div>
  </div>
  <div class="phrases-resume">
    <p class="mb-1">You donated <span class="pink"><%= @total_amount %></span> €</p>
    <p class="mb-1">On your annual budget of <span class="pink"><%= @user_annual_budget %></span> €
    <p>You have <span class="pink"><%= 13 - Date.today.month %></span> months left to donate <span class="pink"><%= @remaining_budget %></span> € </p></p>
  </div>
  <%@donations.each do |donation|%>
    <div class="card-dashboard-home">
      <div class="d-flex justify-content-between">
        <div class="box-infos-home">
          <div>
            <p class="title-home flex-item"> <%= donation.nonprofit.name%></p>
            <h2 class="subtitle-home flex-item"> <%= donation.nonprofit.sub_category%></h2>
          </div>
          <div class="d-flex p-0">
            <% if donation.sharing_card.present? %>

              <%= link_to donation_path(donation) do %>
                <i class="fas fa-link"></i>
                <span>certificate</span>
              <% end %>
            <% end %>
          </div>
          <p class="secondary_information flex-item"> <%= donation.display_date%></p>
        </div>
        <div class="picture-home flex-item">
          <%= image_tag url_for(donation.nonprofit.photo) %>
          <p class="price-home flex-item"> <%= donation.amount%> €</p>
        </div>
      </div>
    </div>
  <%end%>
</div>


<div class="user-menu-grid">
  <i class="fas fa-home"></i>
  <%= link_to nonprofits_path() do %>
    <i class="fas fa-book-open"></i>
  <% end %>
</div>
