<div class="general-container">
  <div class="avatar-grid">
    <div>
      <h1>Hi <span class="pink"> <%= current_user.first_name %> </span></h1>
      <h2>Welcome home</h2>
      <p class="information">My donation</p>
      <p class="information"> <%= @total_amount %></p>
       <p class="information"> <%= @user_annual_budget %></p>
        <p class="information"> <%= @remaining_budget %></p>
    </div>
    <div class="avatar">
     <%=image_tag current_user.avatar, class: "show-avatar"%>
    </div>
  </div>
  <%@donations.each do |donation|%>
    <div class="card-dashboard-home">
      <div class="d-flex justify-content-between">
        <div class="box-infos-home">
          <% if donation.sharing_card.present? %>
            <%= link_to "partager", donation.facebook_share_link %>
          <% end %>
          <div>
            <p class="title-home flex-item"> <%= donation.nonprofit.name%></p>
            <h2 class="subtitle-home flex-item"> <%= donation.nonprofit.sub_category%></h2>
          </div>
          <p class="secondary_information flex-item"> <%= donation.display_date%></p>
        </div>
        <div class="picture-home flex-item">
          <%= image_tag url_for(donation.nonprofit.photo) %>
          <p class="price-home flex-item"> <%= donation.amount%> €</p>
        </div>
      </div>
    </div>
  <%end%>
</div>


<div class="user-menu-grid">
  <i class="fas fa-home"></i>
  <%= link_to nonprofits_path() do %>
    <i class="fas fa-book-open"></i>
  <% end %>
</div>
