<div class="card-asso accordion" id=<%="accordion-asso-#{nonprofit.id}"%>>
  <div class="asso-infos">

    <div class="position-title" id=<%="heading-asso-#{nonprofit.id}"%> style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(<%= asset_path(nonprofit.sub_category_image_path)%>)">
      <h1> <%= nonprofit.catchline %> </h1>
      <h2 class="asso-subtitle"> with <%= nonprofit.name %></h2>
    </div>

    <div class="content">
      <div class="d-flex justify-content-between">
        <div>
          <h1 class="asso-title-content flex-item"> <%= nonprofit.category %></h1>
          <h2 class="asso-subtitle-content flex-item"> <%= nonprofit.sub_category %></h2>
        </div>
        <div class="position-img-asso flex-item">
          <%= image_tag url_for(nonprofit.photo) %>
        </div>
      </div>
      <p class="asso-paragraph-content"><%=nonprofit.description%></p>
    </div>
  </div>
</div>
