<div data-controller= "nonprofits">
  <div class="general-container">

    <div class="avatar-grid">
      <div>
        <h1>Hi <span class="pink"> <%= current_user.first_name %> </span></h1>
        <h2>Let’s see your monthly selection ! </h2>
      </div>
      <div class="avatar">
        <%= cl_image_tag current_user.avatar.key, class: "show-avatar"%>
      </div>
    </div>

    <%= simple_form_for :donation_sessions, url: :donation_sessions do |f| %>
      <%= f.input :nonprofits,
                  as: :check_boxes,
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: "tag-item-2",
                  collection: @nonprofits,
                  include_blank: "Anything",
                  wrapper_html: {class: "form-group" },
                  include_hidden: false,
                  input_html: { data: {action: "click->nonprofits#count", "nonprofits-target".to_sym => "selector"}, name: "nonprofits[]", multiple: true, class: "uncheckedboxes tag-selector"},
                  label_method: lambda { |nonprofit| render 'nonprofits', nonprofit: nonprofit } %>

      <div class="user-menu-grid-np">
        <%= link_to root_path do %>
          <i class="fas fa-home"></i>
        <% end %>
        <i class="fas fa-book-open"></i>
      </div>
      <div class="user-banner-donation" data-nonprofits-target="donationBanner" hidden>
        <%= f.button :submit, "Donate", data: { "nonprofits-target".to_sym => "total" } %>
      </div>
    <%end%>
  </div>
</div>
